* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Calibri Light;
    background-image: url(./רקע\ 3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h1{
    font-family: Calibri Light;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    font-family: Fb Avukado;
    font-size: 3vh;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  } 
::-webkit-scrollbar {
    width: 18px;
  }
  ::-webkit-scrollbar-track {
    background: #E7E5E8;
  }
  ::-webkit-scrollbar-thumb {
    background: #6c4e4e;
    border: 2px solid #E7E5E8;
    border-radius: 40%;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b29696;
 }